@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter";
    background-color: #141212;
}
/* header section start here */
.header-container{
    max-width: 100%;
    height: 620px;
    padding-top: 20px;
    background-color: rgb(39, 30, 30);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.nav-title{
    font-size: 2.2rem;
    font-weight: 800;
    margin-left: 9rem;
}
.nav-item{
    margin-right: 11rem;
    border: 0.5px solid white;
    height: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    align-items: center;
    border-radius: 2.2rem;
}
.nav-a{
   border-radius: 1.5rem;
   border: none;
   padding: 8px 16px 8px 16px;
}
a{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.9;
    text-decoration: none;
    color: #ffffff;
}
.ham-burger{
    display: none;
}
/* share style */

.color{
    color: #E6533C;
}
.white-color{
    color: #ffffff;
}
.primary-color{
    background-color: #E6533C;
}
.head{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1.2rem;
    color: #ffffff;
}
.text{
    font-size: 0.5rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 1.2rem;
}
/* banner content style */
.banner-content{
    display: flex;
    gap: 150px;
}
.banner-title{
    width: 400px;
    height: 380px;
    margin: 80px 0 0 200px;
}
.title{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.banner-text{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.banner-btn{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
}
.banner-btn1{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: #141212;
    color: #ffffff;
    border: 1px solid wheat;
}
/* banner image style */
.banner-image{
    width: 350px;
    height: 540px;
    position: relative;
}
.banner-image img{
    width: 100%;
    height: 100%;
}
.image-box1{
    position: absolute;
    height: 80px;
    margin-left: 75%;
    margin-top: 12%;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 8px 12px 8px 12px;
}
.image-box1 h5{
    font-size: 2.8rem;
    font-weight: 800;
}
.image-box1, .image-box2 p{
    font-size: 0.6rem;
    font-weight: 400;
}

.box-title{
    font-size: 1.5rem;
    font-weight: 900;
}
.image-box2{
    display: flex;
    position: absolute;
    height: 50px;
    margin-left: 55%;
    margin-top: 30%;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 8px 12px 6px 12px;
}
.box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* header container end here */

/* Change Your Habits section start here */
.habit-container{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.habit-title{
    width: 40%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}
.habit-content{
    width: 100%;
    height: 270px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.habit-image{
    width: 200px;
    height: 270px;
    text-align: center;
    margin-left: 10px;
}
.image-one img{
    border-radius: 50%;
    border: 0.5px solid white;
    margin-bottom: 20px;
}

.habit-image h3{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
/* Change Your Habits section end here */

/* Run an Extra Mile Easily section start here*/
.run{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}
.run-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
    margin-left: 15%;
}
.run-title, .run-image{
    width: 300px;
    height: 250px;
}
.run-image img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
/* Run an Extra Mile Easily section end here */







/* media query here */
@media screen and (max-width: 567px) {
    .header-container{
        height: 100%;
    }
    .habit-container{
        margin-top: 5px;
    }
    .run{
        width: 90%;
        height: 500px;
        margin-top: 900px;
    }
      .banner-content{
        flex-direction: column;
        gap: 0;
    }
    .banner-title{
        margin-top: 30px;
        margin-left: 10px;
    }
    .nav-title{
        margin-left: 15px;
    }
    .nav-item{
        display: none;
    }
    .ham-burger{
        display: block;
        font-size: 2rem;
        margin-right: 5px;
        color: #ffffff;
    }
    .image-box1{
        margin-left: 50%;
        margin-top: 500px;
    }
    .image-box2{
        margin-left: 8%;
        margin-top: 700px;
    }
    .habit-title, .btn{
        width: 80%;
    }
    .habit-content{
        grid-template-columns: 1fr;
    }
    .habit-image{
        margin: 0 auto;
    }
    .run-content{
        grid-template-columns: 1fr;
        margin-top: 5px;
        gap: 10px;
        margin-left: 10%;
        padding-top: 0;
    }
    .run-title{
        margin-top: 10px;
        height: 200px;
    }
}